html {
    background-color: #cfebd3;
    background-image: url("./images/background.jpg");
    background-blend-mode: multiply;
    background-size: 20%;
}

#App {
    background-color: rgb(133, 218, 155);
    background-blend-mode: darken;
}

button {
    background-color: aquamarine;
}

#generateTarot {
    font-size: 100px;
}

.App {
    margin: auto;
    width: 80%;
    border: 3px solid green;
    padding: 10px;
  }

#homeNav {
    margin: auto;
}

.tarotPage {
    margin: auto;
    width: 80%;
    padding: 10px;
}

.home h1{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 200px;
    color: lightgreen;
    text-shadow: -2px 2px 0 #000,
                 2px 2px 0 #000,
                 2px -2px 0 #000,
                 -2px -2px 0 #000;
    border-color: black;
}

.directory {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.directory button {
    font-size: 100px;

}

.tarotBody {
    text-align: center;
}

.tarotBody #tarotName {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(255, 174, 0);
    font-size: 100px;
    text-shadow: -2px 2px 0 #000,
                 2px 2px 0 #000,
                 2px -2px 0 #000,
                 -2px -2px 0 #000;
    border-color: black;
}

.tarotBody #tarotImage {
    width: 600px;
    height: 600px;
}

.tarotBody #tarotDescription {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

.tarotBody #luckyNumbers {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.tarotBody #tarotFortune {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.tarotBody h2{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.tarotPage #navbar{
    text-align: center;
}

.tarotPostForm {
    text-align: left;
}

.tarotPostForm #postContent{

    width: 40%;
}

.tarotPage #tarotHeader {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(255, 174, 0);
    font-size: 100px;
    text-shadow: -2px 2px 0 #000,
                 2px 2px 0 #000,
                 2px -2px 0 #000,
                 -2px -2px 0 #000;
    border-color: black;
}

.tarotPage #tarotHeader{
    text-align: center;
}

.tarotPage #buttonContainer {
    text-align: center;

}

.tarotPage #postContent {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.tarotPage #sendEmailButton {
    margin: 10px;
    margin-bottom: 20px;
}

#deleteButton {
    align-self: right;
}

#login {
    text-align: center;
    margin: auto;
    width: 20%;
    border: 3px solid green;
    padding: 10px;
}

#signUp {
    text-align: center;
    margin: auto;
    width: 20%;
    border: 3px solid green;
    padding: 10px;
}

#tarotCommentLabel {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#tarotCommentForm {
    text-align: left;
}

.ouijaHome h1 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgb(0, 255, 17);
    font-size: 100px;
    text-shadow: -2px 2px 0 #000,
                 2px 2px 0 #000,
                 2px -2px 0 #000,
                 -2px -2px 0 #000;
    border-color: black;
}

.comment {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.postsTable {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(0, 199, 0);
    border: 3px solid rgb(0, 52, 0);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    margin-top: 40px;
}

table, th, td {
    border-bottom: 3px solid rgb(0, 52, 0)
}

.postsHeader { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    border: 3px solid rgb(0, 52, 0)
}

.post {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.newPostForm {
    text-align: center;
}

#newOuijaPostButton {
    text-align: center;
}

.newPostForm #contentHeader {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.newPostForm #titleHeader {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.newPostForm #content {
    width: 400px;
    height: 100px;
}

.userButtons {
    text-align: right;
}

.post #content {
    width: 400px;
    height: 100px;
}

#postBody {
    margin: 10px;
    border: 3px solid rgb(0, 52, 0);
    background-color: rgb(158, 215, 158);
}

#userHeader {

}

.tarotPage #content {
    width: 400px;
    height: 100px;
}

.tarotPage #commentContent {
    width: 400px;
    height: 50px;
}